<!doctype html>
<html dir="ltr" lang="en" class="no-js">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{{ bill_from.name }}</title>

<link rel="stylesheet" href="https://rawgithub.com/eimajenthat/sprInvoice/jamie/css/reset.css" />
<link rel="stylesheet" href="https://rawgithub.com/eimajenthat/sprInvoice/jamie/css/style.css" />

<!-- give life to HTML5 objects in IE -->
<!--[if lte IE 8]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- js HTML class -->
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

</head>
<body>
<!-- begin markup -->



<div id="invoice" class="unpaid">


	<div class="this-is">
		<strong>Invoice</strong>
	</div><!-- invoice headline -->


	<header id="header">
		<div class="invoice-intro">
			<h1 style="width: 350px;">{{ bill_from.name }}</h1>
			<p>{{ bill_from.tagline }}</p>
		</div>

		<dl class="invoice-meta">
			<dt class="invoice-number">Invoice #</dt>
			<dd>{{ number }}</dd>
			<dt class="invoice-date">Invoice Date</dt>
			<dd>{{ date }}</dd>
			<dt class="invoice-due">Due</dt>
			<dd>Upon Receipt</dd>
		</dl>
	</header>
	<!-- e: invoice header -->


	<section id="parties">

		<div class="invoice-to">
			<h2>Invoice To:</h2>
			<div class="vcard">
				<div class="org">{{ bill_to.name }}</div>
				
				<div class="adr">
					<div class="street-address">{{ bill_to.street }}</div>
					<span class="locality">{{ bill_to.locality }}</span>
				</div>
			</div><!-- e: vcard -->
		</div><!-- e invoice-to -->


		<div class="invoice-from">
			<h2>Invoice From:</h2>
			<div id="hcard-{{ bill_from.name | replace: ' ', '-'}}" class="vcard">
				<div class="org">{{ bill_from.name }}</div>
				<a class="email" href="mailto:{{ bill_from.email }}">{{ bill_from.email }}</a>
				
				<div class="adr">
					<div class="street-address">{{ bill_from.street }}</div>
					<span class="locality">{{ bill_from.locality }}</span>
				</div>

				<div class="tel">{{ bill_from.phone }}</div>
			</div><!-- e: vcard -->
		</div><!-- e invoice-from -->


		<div class="invoice-status">
			<h3>Invoice Status</h3>
			<strong>Invoice is <em>Unpaid</em></strong>
		</div><!-- e: invoice-status -->

	</section><!-- e: invoice partis -->


	<section class="invoice-financials">

		<div class="invoice-items">
			<table>
				<caption>Your Invoice</caption>
				<thead>
					<tr>
						{% for col in header %}
							<th>{{ col }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in items %}
						<tr>
							{% for col in row %}
								<td>{{ col }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
					</tr>
				</tfoot>
			</table>
		</div><!-- e: invoice items -->


		<div class="invoice-totals">
			<table>
				<caption>Totals:</caption>
				<tbody>
					<tr>
						<th>Subtotal:</th>
						<td></td>
						<td>{{ total }}</td>
					</tr>
					<tr>
						<th>Tax:</th>
						<td>N/A</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<th>Total:</th>
						<td></td>
						<td>{{ total }}</td>
					</tr>
				</tbody>
			</table>

			<!--<div class="invoice-pay">
				<h5>Pay with...</h5>
				<ul>
					<li>
						<a href="#" class="gcheckout">Checkout with Google</a>
					</li>
					<li>
						<a href="#" class="acheckout">Checkout with Amazon</a>
					</li>
				</ul>
			</div>-->
		</div><!-- e: invoice totals -->


		<div class="invoice-notes">
			<h6>Notes &amp; Information:</h6>
			<p>If you have any questions about the charges listed above, please do not hesitate to ask.</p>
			<p>Payments may mailed via check to the address listed above.  Other payment methods can be made upon request.</p>
		</div><!-- e: invoice-notes -->

	</section><!-- e: invoice financials -->


	<footer id="footer">
		<p>
			Thank you for your business.
		</p>
	</footer>


</div><!-- e: invoice -->


</body>
</html>